ion-content {
  --background: #ffffff;
}

.reset-container {
  padding: 24px;
}

.back-button {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 600;

  margin-top: 10px;
}

.content {
  margin-top: 40px;
}

.content h2 {
  font-size: 30px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 12px;
}

.content p {
  color: #9ca3af;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.custom-input {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  margin-bottom: 16px;
}

ion-input {
  --padding-start: 12px;
  --placeholder-color: #9ca3af;
}

.reset-btn {
  --background: #00c16a;
  --border-radius: 12px;

  height: 52px;
  margin-top: 10px;

  font-size: 16px;
  font-weight: 600;
}

.bottom-text {
  text-align: center;
  margin-top: 30px;
  color: #6b7280;
  font-size: 14px;
}

.bottom-text span {
  color: #00c16a;
  font-weight: 600;
}