<ion-content [fullscreen]="true">
  <div class="green-header">
    <div class="logo-container">
      <ion-icon name="trophy-outline" class="logo-icon"></ion-icon>
    </div>
    <h1>SHUTTLE</h1>
    <p>Smash Your Racket</p>
  </div>

  <div class="content-container">
    <div class="button-container">
      <ion-button expand="block" color="success" routerLink="/login" routerDirection="forward">
        Login
      </ion-button>
      <ion-button expand="block" fill="outline" color="success" routerLink="/register" routerDirection="forward">
        Register
      </ion-button>
    </div>
  </div>
</ion-content>