<ion-content [fullscreen]="true">

  <div class="top-section">
    <div class="logo-circle">
      <ion-icon name="american-football-outline"></ion-icon>
    </div>

    <h1>SHUTTLE</h1>
    <p>Smash Your Racket</p>
  </div>

  <div class="bottom-section">
    <ion-button
      expand="block"
      color="success"
      routerLink="/login">
      Login
    </ion-button>

    <ion-button
      expand="block"
      fill="outline"
      color="success"
      routerLink="/register">
      Register
    </ion-button>
  </div>

</ion-content>