<ion-content [fullscreen]="true">

  <div class="container">

    <div
      class="back-link"
      (click)="goBack()">

      ← Dashboard

    </div>

    <h1>Pendapatan</h1>

    <p class="subtitle">
      Ringkasan pendapatan lapangan
    </p>

    <div class="income-card">

      <span>Hari Ini</span>

      <h2>Rp 850.000</h2>

    </div>

    <div class="income-card">

      <span>Minggu Ini</span>

      <h2>Rp 4.500.000</h2>

    </div>

    <div class="income-card">

      <span>Bulan Ini</span>

      <h2>Rp 18.200.000</h2>

    </div>

  </div>

</ion-content>