<ion-content [fullscreen]="true">

  <div class="lapangan-container">

    <div class="top-section">

      <div class="left-section">

        <div
          class="back-link"
          (click)="goBack()">

          ← Dashboard

        </div>

        <h1>Kelola Lapangan</h1>

        <p>
          Atur lapangan milik Anda
        </p>

      </div>

      <button
        class="add-btn"
        (click)="tambahLapangan()">

        + Tambah

      </button>

    </div>

    <div
      class="lapangan-card"
      *ngFor="let lapangan of lapanganList">

      <div class="lapangan-top">

        <div class="lapangan-icon">
          🏸
        </div>

        <div class="lapangan-info">

          <h3>{{ lapangan.nama }}</h3>

          <span>
            {{ lapangan.tipe }} • {{ lapangan.slot }} Slot
          </span>

        </div>

      </div>

      <div class="price">
        Rp {{ lapangan.harga }} / Jam
      </div>

      <div class="action-row">

        <button
          class="edit-btn"
          (click)="editLapangan(lapangan)">

          Edit

        </button>

        <button
          class="delete-btn"
          (click)="hapusLapangan(lapangan)">

          Hapus

        </button>

      </div>

    </div>

  </div>

</ion-content>