<ion-content [fullscreen]="true">

  <div class="container">

    <div
      class="back-link"
      (click)="goBack()">

      ← Dashboard

    </div>

    <h1>Profil Mitra</h1>

    <div class="profile-card">

      <img
        src="assets/images/profile/avatar.png"
        alt="Owner">

      <h2>Thoriq Reva</h2>

      <p>Pemilik GOR Dagus</p>

    </div>

    <div class="info-card">

      <div class="info-item">
        <span>Email</span>
        <strong>thoriq@gmail.com</strong>
      </div>

      <div class="info-item">
        <span>No HP</span>
        <strong>0812xxxxxxx</strong>
      </div>

      <div class="info-item">
        <span>Nama GOR</span>
        <strong>GOR Dagus</strong>
      </div>

      <div class="info-item">
        <span>Alamat</span>
        <strong>Karawang Timur</strong>
      </div>

    </div>

    <button class="edit-btn">
      Edit Profil
    </button>

  </div>

</ion-content>