<ion-content [fullscreen]="true">

  <!-- Hero -->
  <div class="hero-section">

    <img
      src="assets/images/home/lapangan1.png"
      class="hero-image">

  <div
  class="back-button"
  (click)="goBack()">

  <ion-icon
    name="arrow-back-circle-outline">
  </ion-icon>

</div>

  </div>

  <!-- Header -->
  <div class="court-header">

    <h2>Gor Dewi</h2>

    <div class="rating">
      4.9 ⭐⭐⭐⭐⭐
    </div>

  </div>

  <!-- Tab -->
  <div class="tab-menu">

    <div class="tab">
      INFORMASI
    </div>

    <div class="tab active">
      JADWAL
    </div>

  </div>

  <!-- Tanggal -->
  <div class="date-container">

    <div class="date-card active">
      <span>01 Jan</span>
      <small>HARI INI</small>
    </div>

    <div class="date-card">
      <span>02 Jan</span>
      <small>KAM</small>
    </div>

    <div class="date-card">
      <span>03 Jan</span>
      <small>JUM</small>
    </div>

    <div class="date-card">
      <span>04 Jan</span>
      <small>SAB</small>
    </div>

    <div class="date-card">
      <span>05 Jan</span>
      <small>MIN</small>
    </div>

  </div>

  <!-- Lapangan A -->
 <div class="court-section">

  <h3>🏸 LAPANGAN A</h3>

  <div class="time-grid">

    <button
      *ngFor="let time of timeSlots"
      [class.selected]="selectedTime === time && selectedCourt === 'A'"
      (click)="selectTime(time,'A')">

      {{ time }}

    </button>

  </div>

</div>

  <!-- Lapangan B -->
 <div class="court-section">

  <h3>🏸 LAPANGAN B</h3>

  <div class="time-grid">

    <button
      *ngFor="let time of timeSlots"
      [class.selected]="selectedTime === time && selectedCourt === 'B'"
      (click)="selectTime(time,'B')">

      {{ time }}

    </button>

  </div>

</div>

  <!-- Lapangan C -->
 <div class="court-section">

  <h3>🏸 LAPANGAN C</h3>

  <div class="time-grid">

    <button
      *ngFor="let time of timeSlots"
      [class.selected]="selectedTime === time && selectedCourt === 'C'"
      (click)="selectTime(time,'C')">

      {{ time }}

    </button>

  </div>

</div>

  <div style="height:80px"></div>

<div class="bottom-button">

  <button
    class="booking-btn"
    routerLink="/payment">

    PILIH LAPANGAN

  </button>

</div>

</ion-content>

<button routerLink="/payment">
  PILIH LAPANGAN
</button>