<ion-content [fullscreen]="true">

  <!-- Header -->
  <div class="header">

  <ion-icon
    name="arrow-back-outline"
    routerLink="/payment">
  </ion-icon>

  <h2>Metode Pembayaran</h2>

</div>

  <!-- Rekomendasi -->
  <div class="recommendation">

    <h3>REKOMENDASI</h3>

    <p>
      Pilih metode pembayaran dari rekomendasi kami
    </p>

  </div>

  <!-- Payment List -->

  <div class="payment-item">

    <div class="payment-left">

      <img
        src="assets/images/logo/dana.png">

      <span>DANA</span>

    </div>

    <ion-icon name="chevron-forward-outline"></ion-icon>

  </div>

  <div class="payment-item">

    <div class="payment-left">

      <img
        src="assets/images/logo/shopeepay.png">

      <span>ShopeePay</span>

    </div>

    <ion-icon name="chevron-forward-outline"></ion-icon>

  </div>

  <div class="payment-item">

    <div class="payment-left">

      <img
        src="assets/images/logo/ovo.png">

      <span>OVO</span>

    </div>

    <ion-icon name="chevron-forward-outline"></ion-icon>

  </div>

  <div class="payment-item">

    <div class="payment-left">

      <img
        src="assets/images/logo/qris.png">

      <span>QRIS</span>

    </div>

    <ion-icon name="chevron-forward-outline"></ion-icon>

  </div>

  <div class="payment-item">

    <div class="payment-left">

      <img
        src="assets/images/logo/gopay.png">

      <span>GoPay</span>

    </div>

    <ion-icon name="chevron-forward-outline"></ion-icon>

  </div>

</ion-content>