<ion-content [fullscreen]="true">

  <div class="page-container">

    <!-- Header -->
    <div class="header">
      <h1>Lapangan</h1>
    </div>

    <!-- Search -->
    <div class="search-box">
      <ion-icon name="search-outline"></ion-icon>

      <input
        type="text"
        placeholder="Cari lapangan..." />
    </div>

    <!-- Filter -->
    <div class="filter-container">

      <div class="filter-chip active">
        Semua
      </div>

      <div class="filter-chip">
        Indoor
      </div>

      <div class="filter-chip">
        Outdoor
      </div>

      <div class="filter-chip">
        Terdekat
      </div>

    </div>

    <div class="divider"></div>

    <!-- Subtitle -->
    <div class="page-subtitle">
      Temukan Yang Terbaik Untuk Bermain
    </div>

    <!-- Section Title -->
    <div class="section-title">

      <h3>Lapangan Tersedia</h3>

      <span>
        {{ lapanganList.length }} tersedia
      </span>

    </div>

    <!-- Grid -->
    <div class="lapangan-grid">

      <div
        class="lapangan-card"
        *ngFor="let item of lapanganList"
       (click)="openCourt(item)">

        <!-- Image -->
        <div class="image-wrapper">

          <img
            [src]="item.image"
            [alt]="item.nama">

          <div class="badge">
            Indoor
          </div>

        </div>

        <!-- Content -->
        <div class="card-body">

          <h4>{{ item.nama }}</h4>

          <p class="location-text">
            <ion-icon name="location-outline"></ion-icon>
            {{ item.lokasi }}
          </p>

          <p class="rating">
            ⭐ {{ item.rating }}/5.0
          </p>

          <p class="price">
            Mulai Rp {{ item.harga | number }}/Jam
          </p>

        </div>

      </div>

    </div>

  </div>

</ion-content>

<!-- BOTTOM NAV -->
<div class="bottom-nav">

  <!-- BERANDA -->
  <div
    class="nav-item"
    (click)="goToHome()">

    <div class="nav-icon">
      <ion-icon name="home-outline"></ion-icon>
    </div>

    <span>Beranda</span>

  </div>

  <!-- LAPANGAN -->
  <div class="nav-item active">

    <div class="nav-icon">
      <ion-icon name="tennisball-outline"></ion-icon>
    </div>

    <span>Lapangan</span>

  </div>

  <!-- PESANAN -->
  <div
    class="nav-item"
    (click)="goToPesanan()">

    <div class="nav-icon">
      <ion-icon name="receipt-outline"></ion-icon>
    </div>

    <span>Pesanan</span>

  </div>

</div>