<ion-content>

  <div class="header">

    <div
      class="back-btn"
      routerLink="/profile">

      <ion-icon name="arrow-back-outline"></ion-icon>

    </div>

    <h2>Informasi Akun</h2>

  </div>

  <div class="profile-card">

    <div class="avatar">
      <ion-icon name="person-circle"></ion-icon>
    </div>

    <h3>Thoriq Reva</h3>

    <p>thoriqreva@gmail.com</p>

  </div>

  <div class="info-card">

    <div class="info-item">
      <label>Nama Lengkap</label>
      <span>Thoriq Reva</span>
    </div>

    <div class="info-item">
      <label>Email</label>
      <span>thoriqreva@gmail.com</span>
    </div>

    <div class="info-item">
      <label>Nomor Telepon</label>
      <span>0812-3456-7890</span>
    </div>

    <div class="info-item">
      <label>Tanggal Lahir</label>
      <span>19 Januari 2004</span>
    </div>

  </div>

  <div class="bottom-button">

    <button>
      Edit Profil
    </button>

  </div>

</ion-content>