<ion-header class="ion-no-border">

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Profil Saya</ion-title>

  </ion-toolbar>

</ion-header>
<ion-content>

  <!-- PROFILE CARD -->

  <div class="profile-card">

    <img
      src="assets/images/profile/avatar.png"
      alt="Profile">

    <h2>Thoriq Reva</h2>

    <p>thoriqreva@gmail.com</p>

    <button class="edit-btn">
      Edit Profil
    </button>

  </div>

  <!-- MENU -->

  <div class="menu-card">

    <div class="menu-item">

      <ion-icon name="person-outline"></ion-icon>

      <span>Informasi Akun</span>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

    <div class="menu-item">

      <ion-icon name="lock-closed-outline"></ion-icon>

      <span>Ubah Password</span>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

    <div class="menu-item">

      <ion-icon name="receipt-outline"></ion-icon>

      <span>Riwayat Booking</span>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

  </div>

  <!-- BANTUAN -->

  <div class="menu-card">

    <div class="menu-item">

      <ion-icon name="help-circle-outline"></ion-icon>

      <span>Pusat Bantuan</span>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

    <div class="menu-item">

      <ion-icon name="information-circle-outline"></ion-icon>

      <span>Tentang SHUTTLE</span>

      <ion-icon name="chevron-forward-outline"></ion-icon>

    </div>

  </div>

  <div class="version">
    SHUTTLE v1.0.0
  </div>

  <button class="logout-btn">
    Keluar
  </button>

</ion-content>