<ion-content [fullscreen]="true">

  <div class="forgot-container">

    <div class="back-button">
      ←
    </div>

    <div class="content">

      <h2>Forgot Password</h2>

      <p>
        Don't worry! It occurs. Please enter the email
        address linked with your account.
      </p>

      <ion-item lines="none" class="custom-input">
        <ion-input
          type="email"
          placeholder="Enter your email">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="send-btn">
        Send Code
      </ion-button>

      <div class="bottom-text">
        Remember Password?
        <span> Login</span>
      </div>

    </div>

  </div>

</ion-content>