<ion-header class="ion-no-border">

  <ion-toolbar>

    <div class="top-nav">

     <div class="search-box">
  <ion-icon name="search-outline"></ion-icon>
  <input
    type="text"
    placeholder="Cari di SHUTTLE">
</div>

<ion-icon
  name="notifications-outline"
  class="top-icon"
  (click)="goToNotification()">
</ion-icon>

<ion-icon
  class="top-icon"
  name="person-circle"
  (click)="goToProfile()">
</ion-icon>

    </div>

    <div class="location-bar">

      <div class="location-left">
        <ion-icon name="location"></ion-icon>
        <span>KARAWANG BARAT</span>
      </div>

      <ion-icon
        name="chevron-down-outline">
      </ion-icon>

    </div>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <!-- HERO -->
  <div class="hero-banner">

    <img
      src="assets/images/home/banner2.png"
      class="hero-image">

    <div class="hero-overlay">

      <h2>
        Temukan dan Pesan Lapangan
        Yang Kamu Inginkan
      </h2>

      <p>
        Solusi cepat dan mudah digunakan
        untuk pemesanan online dan
        pengelolaan fasilitas.
      </p>

    </div>

  </div>

  <!-- HEADER REKOMENDASI -->
  <div class="recommendation-header">

    <div class="recommendation-title">

      <h3>Rekomendasi Lapangan</h3>

      <small>
        Temukan Yang Terbaik Untuk Bermain
      </small>

    </div>

    <div class="brand-logo">

  <img
    src="assets/images/logo/logo1.png"
    class="logo-shuttle">

  <span>SHUTTLE</span>

</div>

  </div>

  <!-- CARD LIST -->
  <div class="court-list">

    <div
      class="court-card"
      *ngFor="let court of courts"
      (click)="openCourt(court)">

      <img
        [src]="court.image"
        alt="{{court.name}}">

      <div class="card-content">

        <h4>{{court.name}}</h4>

        <div class="info-row">

          <ion-icon
            name="location">
          </ion-icon>

          <span>{{court.location}}</span>

        </div>

        <div class="info-row rating">

          <ion-icon
            name="star">
          </ion-icon>

          <span>4.9/5.0</span>

        </div>

        <div class="price">
          Mulai Rp {{court.price}}/Jam
        </div>

      </div>

    </div>

  </div>

</ion-content>

<!-- BOTTOM NAV -->
<div class="bottom-nav">

  <!-- BERANDA -->
  <div class="nav-item active">

    <div class="nav-icon">
      <ion-icon name="home-outline"></ion-icon>
    </div>

    <span>Beranda</span>

  </div>

  <!-- LAPANGAN -->
<div
  class="nav-item"
  (click)="goToLapangan()">

  <div class="nav-icon">
    <ion-icon name="tennisball-outline"></ion-icon>
  </div>

  <span>Lapangan</span>

</div>

  <!-- PESANAN -->
  <div
    class="nav-item"
    (click)="goToPesanan()">

    <div class="nav-icon">
      <ion-icon name="receipt-outline"></ion-icon>
    </div>

    <span>Pesanan</span>

  </div>

</div>